meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
link(rel='icon', href='/favicon.ico')

style(type='text/css').

	.ui.menu {
		height: 3.5em !important;
	}

	.pusher {
		margin-top: 3.5em;
	}

	@media only screen and (min-width: 701px) {
		.toc.item {
			display: none !important;
		}
	}



