extends ../../_comp/_layout

block head
	title Page One

block main
	p
	.ui.text.container
		p Hello Page One!

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('page 1 script')
		}

