doctype html
html
	head
		include _header
		block head
		style.
			html { opacity: 0.06; }

	body
		script(src='//cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.min.js')
		//- side menu shell
		include _top
		//- container
		.pusher

			//- pushed state
			block main

		script.

			console.log('layout')
			//- see https://github.com/muicss/loadjs
			loadjs('/assets/js/setup.js')

			loadjs.ready('style', function() {

				//show
				document.getElementsByTagName('html')[0].style.opacity = .2
				setTimeout(function(){
					document.getElementsByTagName('html')[0].style.opacity = 1
					console.log('show')
				},50)
				
				$('.ui.sidebar').sidebar('attach events', '.toc.item')
			
			})//ready