doctype html
html
	head
		include _header
		block head
		style.
			html { visibility: hidden; }

	body
		//IE
		script.
		script(src='/assets/js/ts-load.js')
		//side menu shell
		include _top
		//container
		.pusher

			// pushed state
			block main

		script.
			console.log('shell')
			Promise.all([
				TS.load('//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
				, TS.load('//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
				, TS.load('//cdn.jsdelivr.net/npm/signals@1.0.0/dist/signals.min.js')
				, TS.load('//cdn.rawgit.com/topseed/topseed-turbo/master/vendor/js.cookie.min.js') //for router TBD
			])
			.then(function(success){
				console.log('done loading libs')
				window['SITE'] = new signals.Signal() //site events
				return Promise.all([
					TS.load('//cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.css')
					, TS.load('//cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.js')
					, TS.load('/assets/js/ts-route.js')
				])
			}).then(function(){
				console.log('page loaded')
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
					setTimeout(function () { // ha ha !!:
						document.getElementsByTagName('html')[0].style.visibility = 'visible'
						console.log('style ready')
						TS.signalAppReady()

						TT.ScontentID ='.pusher'
						TT.handle(function(evt) {
							if (TT.PRE == evt.typ)  {//start
								//console.log(evt.$new)
								//$('#content-wrapper').fadeTo(100,.2)
								//on nav, close sidebar if visible
								$('.ui.sidebar.visible').sidebar('toggle')
							}
							if (TT.PAGE == evt.typ)  {//new pg loaded
								$(TT.ScontentID).html(evt.$new)
								//$('#content-wrapper').fadeTo(100,1)
							}
						})
					}, 10)
				WebFont.load({	google: {
						families: ['Open Sans:300']
					}
				})
			})