.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one') 
		i.left.icon.star
		| One
	a.item(href='/page/two')
		i.left.icon.book
		| Two

.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		a.header.item(href='/page/one')
			//-img.logo(src='/assets/images/logo.svg') 
			//-| &nbsp;
			| One
		a.item.computer_only(href='/page/two') Two
	.right.menu
		a.item(href='https://github.com/topseed/topseed-hello') Git
