extends /plugin/_layout

block head
	title #{title}

block main
	p
	.ui.text.container
	script.
		loadjs('pinc.js', 'template', {async: false})
		
		loadjs.ready(['site','template'], function () {
			console.log('page 2')
			var data = {
				'myNum': Math.floor(Math.random() * 20)
			}
			//- Render the pinc.js template with data
			//- Naming convention:  pinc.js -> pincTemplate
			$('.ui.text.container').html(pincTemplate(data))
		})