doctype html
html
	head
		include _header
		block head
		style.
			html { visibility: hidden; }

	body
		script(src='//cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.min.js')
		//side menu shell
		include _top
		//container
		.pusher

			// pushed state
			block main

		script.
			console.log('layout')
			.then(function(success){
				console.log('done loading libs')
				window['SITE'] = new signals.Signal() //site events
				return Promise.all([
					TS.load('//cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.css')
					, TS.load('//cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.js')
				])
			}).then(function(){
				console.log('page loaded')
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
					setTimeout(function () { // ha ha !!:
						document.getElementsByTagName('html')[0].style.visibility = 'visible'
						console.log('style ready')
					}, 10)
				WebFont.load({	google: {
						families: ['Open Sans:300']
					}
				})
			})